# Core Settings
set -g mouse on
set -g history-limit 50000
set -g display-time 4000
set -g status-interval 5

# Improve colors
set -g default-terminal "screen-256color"

# Remap prefix from 'C-b' to 'C-a' (easier to reach)
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# Unbind clear from C to prevent accidental clears and set to O
unbind C
bind O clear-history

# Set move window left/right to < and >
bind-key -r "<" swap-window -d -t -1
bind-key -r ">" swap-window -d -t +1

# Quality of Life (use | and - for splitting)
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# Status Bar Styling
set -g status-bg black
set -g status-fg green
set -g status-left-length 20
set -g status-left '#[fg=cyan][#S] '
set -g status-right '#[fg=yellow]%Y-%m-%d #[fg=white]%H:%M:%S'

# Layout (Prefix + P)
bind P source-file ~/.tmux/tmux_log_layout

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-logging'

# some other nice plugins
# https://github.com/tmux-plugins/tmux-resurrect
# https://github.com/tmux-plugins/tmux-pain-control
# https://github.com/tmux-plugins/tmux-sessionist

# Initialize TMUX plugin manager (keep at bottom)
run '~/.tmux/plugins/tpm/tpm'